/*----------
  Header
  ----------*/
.site-header {
  position: absolute;
  z-index: 9;
  width: 100%;

  .contact {
    margin: 30px 20px;
    float: left;
    width: auto;
    padding: 0;

    span {
      margin-right: 20px;
      color: rgba(white, 0.15);
    }

    .fa {
      color: $button-color;
    }

    .phone {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.875em;
      font-weight: 600;
    }
  }
}

.site-header .logo {
  float: left;
  margin: 15px;
}

.logo:hover {
  opacity: 0.6;
}

/*Navigation*/

.main-navigation {
  float: right;
  margin-top: 30px;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin-left: 25px;

      a {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        text-transform: uppercase;
        color: white;
        font-weight: 600;

        &:hover {
          color: $button-color;
          text-decoration: none;
        }
      }
    }
  }
}