$medium: 650px;
$large: 1040px;
$huge: 1300px;

$button-color: #ffaf36;
$facebook: #496fa5;
$twitter: #00baef;
$google: #eb4125;
$heading-color: #1c1c1c;
$text-color: #585858;
$footer-icon: #8a8a8a;
$footer-bg: #2a2b2c;
